@font-face {
  font-family: "Inter";
  src: url("./Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  color-scheme: light dark;
  --link-border-radius: 16px;
  --background-color: #fff;
  --color-text: rgb(174, 174, 175);
  --button-text: rgb(22, 21, 24);
  --hover-color: rgb(108, 130, 225);
  --border-focus-color: #161518;
  --free-color: rgb(43, 210, 138);
}

body {
  font-family: Inter;
  font-size: 18px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

dialog:not([open], [popover]) {
  display: none !important;
}
[popover] {
  border: none;
  background: none;
  inset: unset;
  color: inherit;
}

[popover]:not(:popover-open) {
  display: none !important;
}

a {
  text-decoration: none;
  color: var(--button-text);

  &:hover {
    color: var(--color-text);
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 50%;
  margin: auto;
  p {
    font-size: 2rem;
  }
}
